<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Clone - {{ title }}</title>
    <link rel="stylesheet" href="../static/style.css">
    {% block import %}{% endblock import %}
</head>
<body class="body">
    <nav class="nav bg-slate-900">
        <ul class="nav-list flex flex-row">
            <li><img src="../static/site-source/hejflix.png" alt="logo" class="h-100px"></li>

            <li class="nav-list-item"><a class="nav-list-item-link" href="{{ url_for('views.home') }}">home</a></li>
            <li class="nav-list-item"><a class="nav-list-item-link" href="{{ url_for('auth.login') }}">login</a></li>
            <li class="nav-list-item"><a class="nav-list-item-link" href="{{ url_for('auth.register') }}">signup</a></li>
            
        </ul>
    </nav>
    <div class="flashed">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    {% if category == "error" %}
                    <div class="bg-red-500 text-red-900" role="alert">
                        {{ message }}
                    </div>
                    {% else %}
                    <div class="bg-green-600 text-green-900" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main class="main">
        {% block content %}{% endblock %}
    </main> 
</body>
<script src="../static/z.js"></script>
</html>