@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500&display=swap');



/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Smooch Sans', sans-serif;
}

/* variables and usables */
:root {
    --netflix-red: #E50914;
    --netflix-red-dark: #b7252c;
    --netflix-black: #221F1F;
    --netflix-black-dark: #0a0a0a;
    --navbar-color: rgba(0,0,0,0.3);
    --netflix-white: #F5F5F1;
}

/* navbar */

.nav-list {
    background-color: var(--netflix-black);
    box-shadow: 1px 1px 3px var(--netflix-black);
}
.nav-list-item {
    padding: 2rem 5rem 2rem 5rem;
    color: var(--netflix-red);
    font-size: 2.5em;
    text-shadow: 1px 1px 3px var(--netflix-red);
}
.nav-list-item:hover {
    background-color: rgb(20, 20, 20);
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}

.nav-list>li>img {
    padding-right: 30rem;
}

.alert {
    height: 6rem;
    font-size: 2rem;
}